<% author = User.find(@post.author_id) %>

<section>
  <div>
    <div class="user-card">
      <div class="">
        <h2 class="">Post #<%= @post_index  %> by <%= @author.name %> </h2>
        <p >Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
        <p ><%= @post.text %></p>
      </div>
    </div>
    <div class="">
      <% if @post.comments.present? %> 
        <% @post.comments.each do |comment| %>
          <p ><%= comment.user.name %>: <%= comment.text %></p>
        <% end %>
      <% else %>
        <p >No comments yet.</p>
      <% end %>
    </div>
  </div>
</section>
