<section>
  <div >
    <div >
      <img src=<%= @user.photo%> alt="team" >
      <div >
        <h2><%= @user.name %></h2>
        <p>number of posts: <%= @user.posts.count%></p>
      </div>
    </div>
    <div >
      <div>
      <h2>Bio: </h2>
        <p><%= @user.bio%></p>
      </div>
    </div>
    <% @user.top_posts.each_with_index do |post, index| %>
        <div >
          <div> 
            <a href="<%= user_post_path(@user, post) %>">
              <h2 >Post #<%= index + 1 %></h2>
              <p><%= post.text %></p>
            </a>
            <div class="flex space-x-2">
              <p>
                Comments: <%= post.comments.count %>, 
              </p>
              <p>
                Likes: <%= post.likes.count %>
              </p>
                <div>
                <%= form_with model: @new_like, url: user_post_likes_path(user_id: @current_user, post_id: post) do |f| %>
                  <div>
                    <%= button_tag( :class => "button_green") do %>
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"  viewBox="0 0 24 24">
                      <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                    </svg>
                    <% end %>
                  </div>
                <% end %>
                </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
    <div>
      <div>   
        <a href="<%= user_posts_path(@user) %>">
          <button>
          See all posts
          </button>
        </a>
      </div>
    </div>
    <div>
      <div>   
        <a href="<%= new_user_post_path(@user) %>" >
          <button>
          Make a Post
          </button>
        </a>
      </div>
    </div>
</section>
