<section class="w-full">
    <div class="container user-card">
      <div class="imgWrapper">
        <img src=<%= @user.photo%> alt="team" class="">
      </div>
      <div class="">
        <h2 class=""><%= @user.name %></h2>
        <p class="text-gray-500">Number of posts: <%= @user.posts.count%></p>
      </div>
    </div>

    <div class="user-card">
      <div class="user-info">
         <h2 class="">Bio: </h2>
        <p class="text-gray-500"><%= @user.bio%></p>
      </div>
    </div>
   <div >
    <% @user.top_posts.each_with_index do |post, index| %>
        <a href="<%= user_post_path(@user, post) %>" class="">
          <div class="user-card"> 
            <h2 class="" >Post #<%= index + 1 %></h2>
            <p class="text-gray-500"><%= post.text %></p>
            <p class="text-gray-500">Comments: <%= post.comments.count %> Likes: <%= post.likes.count %> </p>
          </div>
        </a>
    <% end %>
  </div>
    <div class="">
        <div class="flex-grow">   
        <a href="<%= user_posts_path(@user) %>" class="flex justify-center">
            <button class="p-2 lg:w-1/3 md:w-1/2 w-full">
            See all posts
            </button>
        </a>
        </div>
    </div>
</section>