<section>
  <div>
    <div class="user-card">
    <div class="imgWrapper">
    <img src=<%= @user.photo%> alt="team">
    </div>
      <div class="user-info" >
        <h2><%= @user.name %></h2>
        <p>number of posts: <%= @user.posts.count%></p>
      </div>
    </div>
    <div class="user-card bioData ">
      <div>
      <h2>Bio: </h2>
        <p><%= @user.bio%></p>
      </div>
    </div>


    <div class="user-card eachPosts">
       <%= will_paginate @posts %>
    <% @posts.each_with_index do |post, index| %>
    <% post_index = (@posts.current_page - 1) * @posts.per_page + index + 1 %>
        <a href="<%= user_post_path(@user, post) %>" class=">
          <div > 
            <h2 class="" >Post #<%= post_index %></h2>
            <p class=""><%= post.text %></p>
            <h2  ><%= post.title%></h2>
            <p class="">Comments: <%= post.comments.size %> Likes: <%= post.likes.size %> </p>
          </div>
        </a>
        <div class="">
        <% if post.comments.size >= 1 %> 
        <% post.top_comments.includes(:user).each do |comment| %>
          <p class="text-gray-500"><%= comment.user.name %>: <%= comment.text %></p>
            <% end %>
            <% else %>
              <p class="noComments">No comments yet.</p>
          <% end %>
        </div>
      <% end %>
    </div>

 
  </div>
</section>