<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Your Rails App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include your custom stylesheet -->
  <%= stylesheet_link_tag "application", "custom", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <!-- Your page content goes here -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <% if user_signed_in? %>
      <%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>
    <% else %>
    <% end %>
  </nav>
  <div>
  <%= yield %>
  </div>
</body>
</html>
